INSERT INTO products 
(id,name,category,price,created_at,updated_at)
SELECT
  gs,
  (
    array[
      'iphone',
      'samsung s22',
      'sony 4k tv',
      'boat headphones'
      'boss speakers'
      'red tape shoes',
      'horlicks',
      'The Psychology Of Money',
      'bear house men shirt'
      'bear house women shirt'
    ]
  )[floor(random()*4 + 1)] AS name,
  (
    array[
      'electronics',
      'food',
      'healthcare',
      'clothing',
      'footwear',
      'appliances',
      'books',
      'babycare'
    ]
  )[floor(random()*7 + 1)] AS category,
  round(random()::numeric * 10000,2) AS price,
  '2026-01-01 00:00:00'::timestamp + random() * (interval '1 year') AS created_at,
  '2026-01-01 00:00:00'::timestamp + random() * (interval '1 year') AS updated_at

FROM generate_series(1,200000) AS gs
